<html>

<head>
    <title>Robot Interface</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
     crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="code.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">

    </script>
    <script src="https://static.robotwebtools.org/roslibjs/current/roslib.min.js">

    </script>
    <!-- <script type="text/javascript" src="mjpegcanvas.min.js"></script> -->
    <!-- <meta http-equiv="refresh" content="1"> -->
</head>

<body class="d-flex flex-column h-100">
    <!-- header of the page -->
    <header class="header">
        <div class="container">
            <div class="jumbotron text-center">
                <h1>Autonomous Robot Interface</h1>
                <p>This is the demo website that can visualize the input from robotic sensor</p>
            </div>
        </div>
    </header>

    <!-- main content -->
    <main id="vueApp">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h3>{{ menu_title }}</h3>
                            <hr>
                            <label>ROSBridge address</label>
                            <br>
                            <input type="text" v-model="rosbridge_address" />
                            <br>
                            <button class="mt-2 btn btn-success" v-if="connected" @click="disconnect">Connected!</button>
                            <button class="mt-2 btn btn-primary" v-else @click="connect">Connect!</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="text-center">{{ sub_title }}</h2>
                            <hr>
                            <p>topic that interface subscribe to</p>
                            <button class="mt-2 btn btn-primary" >/cmr_filtered/image</button>
                            <button class="mt-2 btn btn-primary" >/car_1/base/odom</button>
                            <button class="mt-2 btn btn-primary" >/imu</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="text-center">{{ pub_title }}</h2>
                            <hr>
                            <p>topic that interface can publish messenge to</p>
                            <button class="mt-2 btn btn-primary" :disabled="!connected" @click="sendCommand">Move the turtle!</button>
                            <button class="mt-2 btn btn-primary" :disabled="!connected" @click="turnRight">Turn right!</button>
                            <button class="mt-2 btn btn-danger" :disabled="!connected" @click="stop">Stop!</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="text-center">{{ camera_title }}</h2>
                            <hr>
                            <p>run: python rgb8.py</p>
                            <img src="camera.png" id='img_camera' alt="The camera image" style="width:400px;height:300px;">
                            
                            
                        </div>
                    </div>
                </div>

             <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="text-center">{{ navi_title }}</h2>
                            <hr>
                            <p>run: python3 generate_rrt_vis.py</p>
                            <img src="../../testdata/viz_out/curstep.jpg" id="img_navi" alt="The navigation image" style="width:400px;height:300px;">
                            
                            
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="text-center">{{ IMU_title }}</h2>
                            <hr>
                            <p>run: rosbag play gps_imu_odom.bag</p>
                            <h3 >pose</h3>
                            <p >position</p>
                            <p id="position"></p>
                            <p >orientation</p>
                            <p id="orientation"></p>
                            <h3 >twist</h3>
                            <p >linear</p>
                            <p id="linear"></p>
                            <p >angular</p>
                            <p id="angular"></p>

                            <h3 >imu data</h3>
                            <p >angular_velocity</p>
                            <p id="angular_velocity"></p>
                            <p >linear_acceleration</p>
                            <p id="linear_acceleration"></p>
                            <p >orientation_imu</p>
                            <p id="orientation_imu"></p>
                            
                            
                        </div>
                    </div>
                </div>
                                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="text-center">{{ IMU_G1_title }}</h2>
                            <hr>
                            <h4>Need more instruction of what to show from bag</h4>
                            <script src="https://code.highcharts.com/highcharts.js"></script>
                            <script src="https://code.highcharts.com/highcharts-more.js"></script>
                            <script src="https://code.highcharts.com/modules/exporting.js"></script>
                            <script src="https://code.highcharts.com/modules/export-data.js"></script>
                            <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                            <figure class="highcharts-figure">
                              <div id="container"></div>
                              
                            </figure>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="col-md-6 col-sm-6 text-center">
                <div id="divCamera"></div>
            </div>
    
    


    <!-- footer -->
    <footer class="footer mt-auto bg-dark text-light">
        <div class="container">
            <h5>page ends here!</h5>
        </div>
    </footer>

    <script src="main.js">

    </script>
</body>

</html>